
body {
    background-color: rgb(44, 148, 122);
}

#container{
    margin-left: 500px;
    margin-top: 100px;
    
    

}

img{
    width: 350px;
    height: 280px;
}

.button {
    background-color: #db3c14; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }